<!doctype html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Receipts</title>
</head>
<body>
    <header>
        <nav>
            {% if user.is_authenticated %}
            <a href="{% url 'home' %}">Receipts</a>
            <a href="{% url 'create_receipt' %}">Create receipt</a>
            <a href="{% url 'list_accounts' %}">Accounts</a>
            <a href="{% url 'create_account' %}">Create account</a>
            <a href="{% url 'list_categories' %}">Categories</a>
            <a href="{% url 'create_category' %}">Create Category</a>
            <a href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a href="{% url 'signup' %}">Sign Up</a>
            <a href="{% url 'login' %}">Log In</a>
            {% endif %}
        </nav>
    </header>
  {% block content %}
  {% endblock content %}
</body>
</html>
