{% extends 'base.html' %}

{% block content %}
<div>
    <h2>Create Category</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
</div>
{% endblock content %}